body {
    margin: 0;
    height: 100%;
}
.container {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 400px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid black;

}
.menu > button {
    margin: 10px;
    width: 100px;
    /*border: 2px solid rgb(0, 0, 255);
    border-radius: 5px;*/
}